html {
    height: 95%;
}

.logoflt {
    width: 200px;
    height: 200px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    animation: shadowAnimation 1s infinite alternate;


}

@keyframes shadowAnimation {
    0% {
        filter: drop-shadow(0.2em 0.1em 0.5em rgba(255, 255, 255, 0));
        /* Transparent white */
    }

    100% {
        filter: drop-shadow(0.2em 0.1em 0.5em white);
        /* Fully colored white */
    }
}

@keyframes innerAnimation {
    0% {
        box-shadow: inset 0.2em 0.1em 0.5em rgba(82, 81, 81, 0);
        /* Transparent inner shadow */
    }

    100% {
        box-shadow: inset 0.2em 0.1em 1em white;
        /* Fully colored inner shadow */
    }
}

.cmgsn {
    font-family: Impact, sans-serif;
    font-size: 6em;
    font-weight: 200;
    position: relative;
    animation: flashcmn 0.2s infinite alternate;

}

@keyframes flashcmn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.navbckg {
    background: linear-gradient(to right, transparent 10%, transparent 20%, rgb(0, 27, 1) 50%, transparent 80%, transparent 10%);


}

i.fa {
    font-size: 50px;
    margin: 25% 1.3% 0 1.3%;
    color: white;
}

i.fas {
    font-size: 33px;
    color: white;
}


.footerbck {
    background: linear-gradient(to right, transparent 10%, transparent 0%, rgb(0, 27, 1) 50%, transparent 100%, transparent 10%);
    font-size: 25px;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    width: 99%;
    color: #555;
    font-family: 'Poppins';
    font-size: large;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    animation: shadowAnimation 1s infinite alternate;
    animation: innerAnimation 1s infinite alternate;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 79%;
        max-height: 60%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        max-height: 30%;
    }

    .imgtext {

        display: block;
        margin-left: 28%;
        margin-right: auto;
        width: 50%;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 500px) {
    .footersd {
        font-size: 35px;
        color: #fff;
        text-shadow: 3px 2px 2px rgb(0, 0, 0);
    }

    .imgtext {

        margin-top: 199px;
        width: 500px;
    }

    .cpsd {
        font-size: 22px;
    }

    .flsd {
        font-size: 29px;
    }
}