html {
    height: 95%;
}

.imgsize {}

.logoflt {
    width: 200px;
    height: 200px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    animation: shadowAnimation 1s infinite alternate;


}

@keyframes shadowAnimation {
    0% {
        filter: drop-shadow(0.2em 0.1em 0.5em rgba(255, 255, 255, 0));
        /* Transparent white */
    }

    100% {
        filter: drop-shadow(0.2em 0.1em 0.5em white);
        /* Fully colored white */
    }
}

.cmgsn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5em;
    position: relative;
    animation: glowcmn 1s infinite alternate;
}

@keyframes glowcmn {
    0% {
        text-shadow:
            0 0 6px rgba(255, 255, 255, 0),
            /* Initial inner glow */
            0 0 10px rgba(255, 255, 255, 0);
        /* Initial outward glow */
    }

    100% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.5),
            /* Maximum inner glow */
            0 0 5px rgb(255, 255, 255);
        /* Maximum outward glow */
    }
}

.navbckg {
    background-color: rgba(0, 27, 1, 0.596);


}


body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    color: #555;
    font-family: 'Poppins';
    font-size: large;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 79%;
        max-height: 60%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        max-height: 30%;
    }

    .header-container {
        padding-top: 164px;
    }
}