{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center vh-80 vw-30">
    <div class="row" style="background-color: rgba(174, 212, 196, 0.87); border: 4px black outset;">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center" style="color: black;">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-center" style="color: black;">
                Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail
                allowing you to reset it.
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset"
                style="color: black; margin: 12px;">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success btn-block" value="{% trans 'Reset My Password' %}" />
            </form>

            <p class="text-center" style="color: black;">
                {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}