{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b36dbb4563.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title> ۞ GODMODE ۞ {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <div class="row">
        <div class="col-12 text-center ">
            <div class="rounded-circle mx-auto d-block logoflt">
                <img src="../media/logo.png" class="img-fluid imgsize" alt="Logo">
            </div>
        </div>
    </div>
    <header class="container-fluid ">
        <div id="topnav" class="row pt-lg-2 d-flex d-lg-flex justify-content-center navbckg ">
            <div class="col-12 col-lg-4 my-0 py-1 py-lg-2 d-flex justify-content-center ">
                <ul
                    class="col-12 list-inline list-unstyled text-lg-right my-0 d-flex justify-content-center justify-content-lg-center  ">
                    <li class="list-inline-item dropdown text-center text-shadow ">
                        <a class="text-white nav-link " href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">MY ACCOUNT</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">PRODUCT MANAGEMENT</a>
                            {% endif %}
                            <a href="" class="dropdown-item">MY PROFILE</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">LOGOUT</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">REGISTER</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">LOGIN</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item text-center">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link"
                            href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>

                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class=" text-lg d-flex justify-content-center">
            <h1 class="cmgsn text-black"> COMING SOON ! </h1>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>